img {
   height: 200px;
   transition: transform 500ms ease;
   width: 200px;
}

.pokecard {
   /* border: 1px solid red; */
   background-color: white;
   border-radius: 10px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   height: 325px;
   justify-content: center;
   margin-bottom: 30px;
   overflow: hidden;
   width: 250px;
   transition: transform 500ms ease;
}
#card_arrow {
   color: #6c7a9e;
   height: 20px;
   cursor: pointer;
}
#card_heart {
   color: #6c7a9e;
   height: 20px;
   cursor: pointer;
}

#card_arrow:hover {
   color: #96a0bf;
   transform: scale(1.15);
}
#card_heart:hover {
   color: #96a0bf;
   transform: scale(1.15);
}
#card_heart_fav {
   color: red;
   height: 20px;
   cursor: pointer;
}

.pokecard:hover {
   background-color: #313543;
   transform: scale(1.05);
}

.pokecard:hover .poke_info {
   margin-bottom: 30px;
   transform: translateY(0);
}
.pokecard:hover .poke_svg {
   margin-top: 0px;
}
.pokecard:hover #poke_type {
   color: white;
}
.pokecard:hover img {
   margin-top: 0px;
   transform: scale(0.75);
}

.poke_info {
   background-color: #313543;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   color: white;
   display: flex;
   flex-direction: column;
   font-size: 15px;
   padding: 5px 20px 0px 20px;
   transform: translateY(25%);
   transition: transform 500ms ease;
}

.poke_svg {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   /* border: 1px solid blue; */
   margin-top: 50px;
}

.poke_main_info {
   display: flex;
   justify-content: space-between;
   padding-bottom: 5px;
}

#poke_id {
   color: #f1da05;
}

#poke_type {
   padding-bottom: 15px;
   color: #96a0bf;
   font-weight: lighter;
   font-size: 14px;
}

#poke_name {
   font-size: 20px;
   font-weight: bold;
}

hr {
   color: #be9709;
}

.poke_extra_info {
   margin-top: 5px;

   font-size: 14px;
}

.poke_extra_info > p {
   padding-bottom: 5px;
}

.poke_more_info {
   display: flex;
   justify-content: space-between;
}
